data:
  email: "antihaynes@gmail.com"
  gpg:
    keys:
      signing: "AEB43E83657EFBEDB5D61B2862716B9F210A3233"
  filesystem:
    cacheDir: {{ joinPath .chezmoi.homeDir ".cache" | quote }}
    appData: {{ joinPath .chezmoi.homeDir ".local" "share" | quote }}
    sourceDir: {{ joinPath .chezmoi.homeDir "Source" | quote }}
    tmpDir: /tmp
    scriptDir: {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }}
  terminal: kitty
  shell: {{ $zsh := lookPath "zsh" }}{{ if $zsh -}}
    {{ $zsh }}{{ else -}}
    {{ lookPath "sh" }}{{ end }}
  editor: {{ if lookPath "nvim" -}}nvim
    {{- else if lookPath "vim" }}vim
    {{- else }}vi{{ end }}
  enable_systemd_session_services: {{ eq .chezmoi.hostname "voidmobile" }}
