{{range $name, $data := .externals}}
{{- if hasKey $data "dest" -}}
{{
  pick 
    $data 
      "type"
      "encrypted"
      "exact"
      "exclude"
      "executable"
      "format"
      "path"
      "include"
      "refreshPeriod"
      "stripComponents"
      "url"
      "checksum.sha256"
      "checksum.sha384"
      "checksum.sha512"
      "checksum.size"
      "clone.args"
      "filter.command"
      "filter.args"
      "pull.args"
      "archive.extractAppleDouble"
  | dict (get $data "dest") | toToml
}}
{{- end }}
{{end}}
