{{-
$filesystem := dict
  "cacheDir" ".cache"
  "appData" (joinPath ".local" "share" )
  "sourceDir" "Source"
  "scriptDir" (joinPath ".local" "bin" )
-}}
data:
  email: "antihaynes@gmail.com"
  gpg:
    keys:
      signing: "AEB43E83657EFBEDB5D61B2862716B9F210A3233"
  filesystem:
{{ $filesystem | toYaml | indent 4 }}
  terminal: kitty
  shell: {{ $zsh := lookPath "zsh" }}{{ if $zsh -}}
    {{ $zsh }}{{ else -}}
    {{ lookPath "sh" }}{{ end }}
  editor: {{ if lookPath "nvim" -}}nvim
    {{- else if lookPath "vim" }}vim
    {{- else }}vi{{ end }}
  enable_systemd_session_services: {{ eq .chezmoi.hostname "voidmobile" }}
  wallpaper:
    cache: {{ joinPath .filesystem.cacheDir "wallpaper" "current-wallpaper.png" }}
    library: {{ joinPath .filesystem.appData "wallpaper" }}
  externals:
{{ range $tmpl :=
  joinPath .chezmoi.sourceDir ".chezmoitemplates" "externals.d" 
    "*.{yml,yaml}" 
  | glob
-}}
{{- includeTemplate $tmpl $filesystem | indent 4 }}
{{ end -}}
