data:
  email: "antihaynes@gmail.com"
  gpg:
    keys:
      signing: "AEB43E83657EFBEDB5D61B2862716B9F210A3233"
  filesystem:
    cacheDir: {{ joinPath .chezmoi.homeDir ".cache" | quote }}
    appData: {{ joinPath .chezmoi.homeDir ".local" "share" | quote }}
    sourceDir: {{ joinPath .chezmoi.homeDir "Source" | quote }}
