{{- $exec := lookPath "xsettingsd" -}}
{{- if $exec -}}
{{- $tmpl := includeTemplate "systemd/xsettingsd.yaml" . | fromYaml -}}
{{- if and (stat $tmpl.script) (stat $tmpl.config) -}}
{{- $script := list .chezmoi.homeDir $tmpl.script | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
{{- $output := list .chezmoi.homeDir $tmpl.output | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
[Unit]
Description=XSETTINGS daemon
PartOf=graphical-session.target

[Service]
Environment="XSETTINGSD_OUTPUT={{ $output }}"
Restart=on-failure
ExecStartPre={{ $script }}
ExecStart={{ $exec }} -c {{ $output }}
ExecReload={{ $script }}
ExecReload={{ lookPath "kill" }} -HUP $MAINPID
# Restart i3 (it uses Xft.dpi)
ExecReload=-{{ lookPath "i3-msg" }} restart
# Restart polybar (it uses an environment variable)
ExecReload={{ lookPath "systemctl" }} --user try-restart polybar.service
{{- end -}}
{{- end -}}
