{
  "NotebookApp": {
    "password": "argon2:$argon2id$v=19$m=10240,t=10,p=8$mmMHsFvioZoXopKfkLpuxQ$Haq6KsafpHlrBLDktjy0tS7yOiEAcWq5omWtIRPFX00"
    "ip": "*",
     "allow_origin": "*",
     "allow_remote_access": true,
     "open_browser": false,
     "websocket_compression_options": {},
     "certfile": "/home/hseldon/.jupyter/certs/service.pem",
     "keyfile": "/home/hseldon/.jupyter/certs/service-key.pem",
     "notebook_dir": "/home/hseldon/Documents/jupyter"
  }
}
