{{- $hsetroot := lookPath "hsetroot" -}}{{- if $hsetroot -}}
{{- $data := includeTemplate "systemd/wallpaper.yaml" . | fromYaml -}}
{{- $set_wp := list .chezmoi.homeDir $data.script.set | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
{{- $apply_wp := list .chezmoi.homeDir $data.script.apply | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
{{- $library := list .chezmoi.homeDir .wallpaper.library | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
{{- $bg := list .chezmoi.homeDir .wallpaper.cache | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
[Unit]
Description=Build and display wallpaper
PartOf=graphical-session.target

[Service]
Environment=WALLPAPER_DIRECTORY={{ $library }}
Environment=WALLPAPER_OUTPUT={{ $bg }}
ExecStart={{ $set_wp }} --directory $WALLPAPER_DIRECTORY \
                                      --target $WALLPAPER_OUTPUT
ExecStart={{ $apply_wp }}
ExecStart={{ lookPath "hsetroot" }} -root -center $WALLPAPER_OUTPUT
Type=oneshot
RemainAfterExit=false
{{- end -}}
