{{ if .systemd.user.dimmer.use -}}
{{- $data := includeTemplate "systemd/xss-dimmer" . | fromYaml -}}
{{- $script := list $data.script .chezmoi.homeDir | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
{{- $bg := list .wallpaper.cache .chezmoi.homeDir | includeTemplate "cmd/relpath" | joinPath "%h" | trim -}}
[Unit]
Description=Screen dimmer

[Service]
ExecStart={{ $script }} --delay=%i \
                                       --background={{ $bg }}
{{- end }}
